[user]
	name = Chae Jubb
	email = cjubb39@gmail.com
[merge]
	conflictStyle = diff3
[color]
	ui = auto
[alias]
	view = log --graph --oneline --decorate --all HEAD
[help]
	autocorrect = -1
[pull]
	rebase = true
[rebase]
	updateRefs = true
[grep]
	lineNumber = true
# http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
[core]
	preloadindex = true
